@import '../../../style/vars';
@import '../../../style/neat/neat';
.device-info{
    box-sizing: border-box;
     padding: $scene-auto-repaly-info-padding;
    .base-info-row{
        line-height: $scene-anticon-line-height;
    }
    .base-info-col{
        text-align: center;          
    } 
    .base-info-image{
         width: 120px;
         height: 120px;
         overflow: hidden;
        img{          
           width: 100%;

        }
    }   
    
}

