@import '../../../style/vars';
@import '../../../style/neat/neat';

.scenes-filter {
    background: #fff;
    padding:$padding-base;
    .filter-item{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
        .title{
            // display: inline-block;
            // padding:0 $margin-double;
            // margin-right: $margin-base;
            display: inline-block;
            width: $userlist-title-w;
            color: $gray;
            // text-align: center;
            text-indent: $userlist-text-indent;
            margin-right: $margin-base;
            font-size: $user-filter-row-fontsite;
            border-right: $userlist-col-separator-width solid $gray-lighter;
        }
        button{
            margin-right: $margin-base;
            border-radius: 4px;
        }
        .ant-btn-primary {
            color: $primary-color;
            background-color: #fff;
            
        }
        .ant-btn-default{
            border-color:#fff ;
        }
       
    }
}