<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <!-- <link rel="manifest" href="manifest.json"> -->
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=yRhdo6bMspwXUPbkBT8aE8Ll4F2yD3cD"></script>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div id='mainContainer' style="height: 100%;">
    <$- html $>
  </div>
</body>

</html>