@import '../../../style/vars';
@import '../../../style/neat/neat';

.store-card{
    width: 100%;
    cursor: pointer;
    .ant-card{
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    }
    .cover {
        float: left;
        .pic {
            width: 80px;
            height: 80px;
            margin-right: 20px
        }
    }
    .title {
        font-size: 18px; 
        font-weight: bold;
    }
    .des {
        margin-top: 10px;
        background-color: #f0f0f0;
        padding: 6px;
        border-radius: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &:hover{
        .ant-card {
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
        }
    }
}