@import '../../../style/vars';
@import '../../../style/neat/neat';
.headroom-wrapper {
    margin-bottom: $margin-double;
}
.navbar {
    @include grid-collapse($navbar-grid);
    @include grid-container($navbar-grid);
    padding:0 $padding-base;
    background-color: $color-navbar-green;
    box-shadow: $box-shadow-2;

    .logo-wapper {
        @include grid-column(2, $navbar-grid);
        padding: $padding-min 0;
        justify-content: center;
        align-items: center;
        cursor: default;
        font-weight: bold;
        img {    
            display: inline-block;
            height: 42px;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            border-left:1px solid #627c8b;
            color: $color-white;
            margin-left:$margin-base;
            padding-left: $padding-base;
            height: 36px;
            line-height: 36px;
            font-size: $navbar-menu-logo-fontsite;
        }
    }
    .menu-wapper {
        @include grid-column(7, $navbar-grid);
        display: flex;
        justify-content: flex-end;
        height: 58px;
        font-weight: bold;
        .ant-menu-horizontal{
            border-bottom: 0px;
            line-height: 54px;
        }
        .ant-menu-horizontal > .ant-menu-item{
            color:$color-white;
            border-bottom: 4px solid transparent;
        }
        .ant-menu-horizontal > .ant-menu-item-selected{
            border-bottom: 4px solid #00b388;
        }
    }
    .avatar-wapper {
        height: 58px;
        display: flex;
        justify-content: flex-end;
        > .avatar {
            display: flex;
            justify-content: center;
            align-items:center;
            img {
                width: 80%;
                height: 80%;
                border-radius: 50%;
            }
        }
    }
}
.user_menu {
    box-shadow: $box-shadow-4;
}