.scene-bass-form{
    .resources-thumbnail-upload .upload-list-inline .ant-upload-list-item{
        width: 90%
    }
    .resources-thumbnail-upload{
        display: inline-block;
        width: 60%;
    }
}
