@import '../../../style/vars';
@import '../../../style/neat/neat';
.compactTable {
    padding: $scene-auto-repaly-info-padding;
    .smalltable{
        border: none
    }
    tbody {
        tr{
            font-size: 12px;
        }
    }   
}
